fastapi
uvicorn
python-multipart
requests
numpy
faiss-cpu
sentence-transformers
torch
transformers
langdetect
openai-whisper
librosa
soundfile
pydantic
python-dotenv
espeakng
chromadb
scikit-learn
whoosh
psutil
pycryptodome
schedule
pyautogui
plyer
nvidia-ml-py3
